* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold; 
  color: #62e511;
  /* background-color: #dd1212; */
  background-image: url('images/background.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  /* background-color: rgb(12, 98, 246); */
  background-image: linear-gradient(
            rgb(11, 153, 229) 0%,
            rgba(51, 7, 245, 0.5) 50%,
            #11afdf00 100%
    );
    border-color: rgb(11, 153, 229) 0%;
    border-radius: 5%;
    box-shadow: 0 0 10px 6px rgba(182, 249, 255, 0.868);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #e809f4;
}

.weather-info input {
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #38ab3c;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

.weather-details p {
  margin: 10px 0;
  font-size: 1rem;
}

.error-message {
  color: red;
  display: none;
  margin-top: 15px;
  font-size: 1rem;
}
